<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">404 Error</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 offset-3">
                        <img class="img img-fluid" style="" src="../../assets/img/404.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-4">
                        <div>
                            <h3>
                                <strong> Ops! Page Not Found.</strong>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
